@model Charshyia.Services.Models.Shops.ShopDetailsViewModel

@{
    ViewData["Title"] = "Shop Details";
}

<div>
    <div>
        <h3>Shop @Model.Name Details</h3>
    </div>
    <div>
        <h5>Shop Products:</h5>
        @foreach (var p in Model.Products)
        {
            <p>@p.Name - @p.Price</p>
        }
    </div>
    <div>
        <h5>Shop Producers:</h5>
        @foreach (var p in Model.Producers)
        {
            <p>@p.Username</p>
        }
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
