@model Charshyia.Services.Models.Products.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Product Details:</h2>

<div>
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Price: @Model.Price</p>
    <p>Producer name: @Model.Producer</p>
</div>
