@using Charshyia.Services.Models.Products
@{
    List<ProductDetailsViewModel> results = (List<ProductDetailsViewModel>)this.ViewData["searchResult"];
    ;
}

<div>
    <form asp-controller="Search" asp-action="Search" method="post">
        <input class="form-control col-4 d-inline" name="productName" type="text" />
        <select name="category" class="form-control col-3 d-inline" asp-items="@new  SelectList(Enum.GetNames(typeof(ProductCategory)))">
            <option selected disabled>Select category</option>
        </select>
        <button type="submit" class="btn-primary d-inline form-control col-2">Search</button>
    </form>
</div>

<div>
    @if (results != null)
    {
        <div class="row">
            @foreach (var product in results)
            {
                <div class="d-inline img-margin">
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">

                        <img class="img-thumbnail img-fluid product-img-mini" src="@product.ImageUrl" />
                        <p>@product.Name</p>
                        <p>$@product.Price </p>
                    </a>
                </div>
            }
        </div>
    }
</div>