@{
    if (SignInManager.IsSignedIn(User))
    {
        var parnershipsCount = this.parnershipService.GetUserRequest(this.UserManager.GetUserAsync(this.User).GetAwaiter().GetResult()).Count;
        if (parnershipsCount > 0)
        {
            <a asp-controller="Partneships" asp-action="ShowPartneshipsRequests" class="nav-link">New Partneships (@parnershipsCount)</a>
        }


        <div>
            @*<h6>Partnership requests:</h6>
                @foreach (var notification in parnershipRequests)
                {
                    
                }*@
        </div>
    }

}