<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        if (this.User.IsInRole("Producer"))
        {
            <partial name="_LoggedInProducerIndex" />
        }
        else if (this.User.IsInRole("User"))
        {
            <partial name="_LoggedInUserIndex" />
        }

    }
    else
    {
        <h4>Logged out user</h4>
    }
</div>


