@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Create Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Create Shop</a>
            </li>
        </ul>
    </nav>
}
else
{
    <h4>Logged out user</h4>
}